/*
   COLORS.SCSS
   - Defines theme colors
   ========================================================================== */

$black: #000000;
$darkGray: #2c2c2c;
$gray1: #efefef;
$gray2: #ccc;
$gray3: #767676;
$blue: #077da8;
$pink: #d10255;
$yellow: #fbb101;
$white: #ffffff;
$beige: #eae5d8;
