/*
   GLOBAL.SCSS
   - Global styles
   ========================================================================== */
$small: 500px;
$medium: 700px;
$large: 1000px;
$extra-large: 1200px;

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.divider {
  display: block;
  width: 35px;
  height: 2px;
  margin: 20px auto 25px auto;
  background: #fff;

  &.black {
    background: #000;
  }
}
