/*
   TYPOGRAPHY.SCSS
   - All font declarations and mixins
   ========================================================================== */

@mixin body-copy() {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.2em;
  font-weight: normal;
}

/* ==========================================================================
   GLOBAL TYPE STYLES
   ========================================================================== */
html,
body {
  @include body-copy;
}

/* ==========================================================================
   LINKS
   ========================================================================== */

a {
  text-decoration: none;
  transition: color, 0.2s, ease-in-out;

  &:hover {
    transition: color, 0.2s, ease-in-out;
  }
}
