/*
   TYPOGRAPHY.SCSS
   - All font declarations and mixins
   ========================================================================== */

@mixin open-sans() {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1em;
  color: #2c2c2c;
}

/* ==========================================================================
   GLOBAL TYPE STYLES
   ========================================================================== */
html,
body {
  @include open-sans;
}

/* ==========================================================================
   LINKS
   ========================================================================== */

a {
  text-decoration: none;
  transition: color, 0.2s, ease-in-out;

  &:hover {
    transition: color, 0.2s, ease-in-out;
  }
}
