@import "../utils.scss";

#contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

  a {
    height: 40px;
    line-height: 1.3em;
  }

  iframe {
    width: 100%;
  }
}

/* MEDIA QUERIES ===== */
@media only screen and (max-width: $large) {
  #contact-info {
    grid-template-columns: 1fr;
  }
}
