@import "../utils.scss";

#event-details {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 70% 30%;
}

#event-info {
  padding-right: 5em;
  .info-divider {
    width: 9px;
    background: $gray2;
    height: 10px;
    position: relative;
    display: inline-block;
    margin: 0 0.8em 0 1em;
  }

  h1 {
    text-align: left;
  }

  h4 {
    font-size: 1em;
    color: $gray3;
    line-height: 1.5em;
    font-weight: 700;
    font-style: italic;
    text-align: left;
  }
}

.event-description {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 1em;
}

#register-box {
  margin-top: 3em;

  h2 {
    font-size: 3em;
    color: #077da8;
    font-weight: bold;
    line-height: 1.5em;
    color: $blue;
    text-align: center;
  }

  .acf-map {
    width: 100%;
    height: 200px;
    border: #ccc solid 1px;
    margin: 10px 0 0 0;
  }

  a {
    margin-bottom: 1em;
  }
}

#other-events {
  margin-top: 4em;
  border-top: 1px solid $gray1;
  padding-top: 4em;

  h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
}

#other-events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  margin: 0;

  li {
    border: 1px solid $gray1;
    padding: 1em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 1em;
    line-height: 1.3em;
  }

  .btn-yellow {
    width: 70px;
    margin-top: 1em;
  }
}

/* MEDIA QUERIES ===== */
@media only screen and (max-width: $large) {
  #event-details {
    grid-template-columns: 1fr;
  }

  #other-events-list {
    grid-template-columns: 1fr;
  }
}
