@import "../utils.scss";

#hero {
  height: 30vh;
  background-size: cover;
  display: block;
  background: $pink;
}

.hero-bg-1 {
  background: url("../../img/carousel-1.jpg") top center no-repeat !important;
}

.hero-bg-2 {
  background: url("../../img/carousel-2.jpg") top center no-repeat !important;
}

.hero-bg-3 {
  background: url("../../img/carousel-3.jpg") top center no-repeat !important;
}
