@import "../utils.scss";

#site-header {
  padding: 2em 5.5em;
  height: 90px;
  margin: 0 auto;
  background: $pink;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo uppermenu"
    "logo lowermenu";

  .home & {
    background: none;
  }
}

#logo-container {
  grid-area: logo;

  h1 {
    display: none;
  }
}

#logo {
  width: 100%;
}

#primary-menu-container {
  grid-area: lowermenu;
  margin-top: 9px;

  ul {
    float: right;
  }

  li {
    display: inline-block;

    a {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 0.5em 0.2em 0.5em;
      font-size: 0.9em;
      transition: color 0.1s ease-in-out;

      &:hover {
        border-bottom: 2px solid $white;
        transition: color 0.1s ease-in-out;
      }
    }

    &:last-child a {
      padding-right: 0;
    }

    &.current-menu-item {
      a {
        border-bottom: 2px solid $white;
        transition: color 0.1s ease-in-out;
      }
    }
  }
}

#header-donate {
  grid-area: uppermenu;
  width: auto;
  font-size: 0.8em;
  justify-self: end;
  height: 15px;
  padding: 0.8em 2em;
}

/* MEDIA QUERIES ===== */
@media only screen and (max-width: $large) {
  #site-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "logo"
      "lowermenu";
    padding-bottom: 5em;

    .home & {
      padding-bottom: 2em;
    }
  }

  #logo {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  #header-donate {
    display: none;
  }

  #primary-menu-container ul {
    float: none;
    margin: 1em auto;
    width: 560px;
  }
}

@media only screen and (max-width: $medium) {
  #site-header {
    padding: 2em 2em 0 2em;
  }

  #logo {
    margin: 0;
  }
}
